<!DOCTYPE html> 
{% load staticfiles %}
<html>

<head> 
<title>Rango</title> 
<link rel="stylesheet" href="{% static "css/base.css" %}" />  <!--css-->
<script src="{% static "js/jquery.js" %}"></script>  <!--javaScript-->
</head>

<body> 

<h1>Rango says...</h1> 

<div> hey there partner! <br /> 
<strong>{{ boldmessage }}</strong><br /> 
</div> 
 
<div> <a href="/rango/">Index</a><br />
<img src="{% static "images/Moustache1.jpg" %}" alt="Another Picture of Moustache" />
</div> 

</body>
</html>
